@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth ;
  }
  body {
    @apply bg-primary font-poppins
  }
}
@layer utilities {
  .paddingx {
    @apply px-3 sm:px-16;
  }

  .paddingy {
    @apply py-6 sm:py-16;
  }

  .padding {
    @apply px-6 sm:px-16 py-6 sm:py-10;
  }

  
  .heroheadtext {
    @apply font-black text-white  sm:text-[50px] xs:text-[50px] text-[40px] lg:leading-[69px] mt-2;
  }

  .herosubtext {
    @apply text-[#dfd9ff] font-medium  sm:text-[20px] xs:text-[20px] text-[16px] lg:leading-[40px];
  }
 
}

@layer components { 
  .btn1-gradient {
    background: linear-gradient(45deg,#d4cef3,#915eff,#d4cef3 );
    background-size: 200%;
  }

  .text1-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #edeaff 0.89%,
      #d4cef3 17.23%,
      #c7bdf5 42.04%,
      #b4a8f3 55.12%,
      #9486e2 71.54%,
      #8270E2 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .black-gradient {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .other_msg {
    background: #2D3742;
    /* backdrop-filter: blur(7.5px); */
  }

  .my_msg {
    
    background: linear-gradient(82deg, #5042A0 5.62%, #424BA0 106.89%);
  }

  .text2-gradient{
    background: linear-gradient(82deg, #5042A0 5.62%, #424BA0 106.89%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

  }

  .fixcontent{
    overflow-wrap: anywhere;
  }
  
}

div.scrollbar_style::-webkit-scrollbar{
  width: 0.3em;
}

 ::-webkit-scrollbar-track{
  background: #100d2500;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  background: #aaa6c3;
  border-radius: 10px;
  /* border: 3px solid #100d25; */
}




.chat_gradient {
  background: radial-gradient(96.31% 86.81% at 0% 100%, #21414E 0%, rgba(33, 65, 78, 0.00) 100%),
   radial-gradient(115.72% 90.85% at 100% 0%, #39305A 0%, rgba(57, 48, 90, 0.00) 100%),
    #111233;
}


.black-gradient {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}
.btn-gradient {
  background: linear-gradient(45deg,#bef3f5,#33bbcf,#bef3f5 );
  background-size: 200%;
}
.btn1-gradient {
  background: linear-gradient(45deg,#d4cef3,#915eff,#d4cef3 );
  background-size: 200%;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text1-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #edeaff 0.89%,
    #d4cef3 17.23%,
    #c7bdf5 42.04%,
    #b4a8f3 55.12%,
    #9486e2 71.54%,
    #8270E2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.purple-gradient {
  background: "#8270E2";
  background: linear-gradient(90.13deg, #8270E2.9%, #d4cef3 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #8270E2 1.9%, #d4cef3 97.5%);
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
